<style>
  body{
      background-color: rgb(37, 37, 37);
  }
  h1{
      color: #ffffff;
      font-family: Copperplate, "Copperplate Gothic Light", fantasy;
      font-size: 64px;
  }
  h1 small{
      color: rgba(235, 235, 235, 0.75);
  }
  h2{
      color: #ffffff;

      font-family: "Brush Script MT", cursive;
      font-size: 48px;
  }
  h2 small{
      color: rgba(235, 235, 235, 0.75);
  }
  h4{
      font-size: 28px;
      color: #ffffff;

      font-family: "Brush Script MT", cursive;
  }
  h4 small{
      color: rgba(235, 235, 235, 0.75);
  }
  #background_image{
      position: fixed;
      top: 50px;
      left: 50px;
      z-index: -1;
  }
  .item{
      color: white;
  }
</style>


<%= image_tag "#{Rails.root}/app/assets/images/themes/japanese/yume_gyousy_inv.png", :id => 'background_image' %>

<div class="container menu">
  <%#= render :partial => 'parts/introduction' %>

  <h1 class="text-center"><strong><%= @menu.name %><br>
    <small><%= @menu.description %></small></strong></h1>
  <hr>
  <% @menu.ordered_sections.each do |s| %>
    <%= render :partial => 'sections/show_on_menu', :locals => {:section => s, :menu => @menu} %>
  <% end %>
</div>