<div class="container">

  <div>
    <strong>Name:</strong>
    <%= @store.name %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= @store.description %>
  </div>

  <div>
    <strong>Sales tax rate:</strong>
    <%= @store.sales_tax_rate %>%
  </div>

  <div class="form-group">
    <%= link_to 'Edit', edit_store_path(@store), :class => 'btn btn-default' %>
  </div>
</div>