<div class="container">
  <h1>Edit <strong><%= @section.name %></strong>
  <small><%= link_to '(return to menu)', edit_menu_path(@menu) if @menu %></small></h1>
  <%= render :partial => 'form' %>
</div>