<div id="order_item_added_notification" class="text-center">
  <strong><%= item.name %></strong> added to your order.
  <script>
    showOrderItemAddedNotification(500, 1000);

    function flashNavBarToggle(){

    }
  </script>

  <style>

  </style>
</div>