//buttons
$btn-primary-bg: rgba(37, 2, 74, 0.58);

$close-color: rgba(255, 0, 22, 0.59);
$close-font-weight: 800;

//navbar
$navbar-inverse-bg: rgba(36, 36, 36, 0.95);

//modal
$modal-content-bg: $navbar-inverse-bg;

//Japanese Letters
$input-bg: #e5e5e5;
$input-border-focus: #9902ff;



@import "bootstrap";
/*
 *= require_self
 *= require_tree .
 */
.menu{
  margin-top: 30px;
}

.section{
  margin-top: 40px;
}


//Menu
#order_button{
  padding-top: 20px;
}
#order_item_added_notification{
  font-size: 20px;
  color: white;
}

//================== Japanese Letters ============================================
body{
  background-color: rgb(37, 37, 37);
}
h1{
  color: #ffffff;
  font-family: Copperplate, "Copperplate Gothic Light", fantasy;
  font-size: 64px;
}
h1 small{
  color: rgba(235, 235, 235, 0.75);
}
h2{
  color: #ffffff;

  font-family: "Brush Script MT", cursive;
  font-size: 48px;
}
h2 small{
  color: rgba(235, 235, 235, 0.75);
}
h3{
  color: white;
  font-size: 36px;
}
h4{
  font-size: 28px;
  color: #ffffff;

  font-family: "Brush Script MT", cursive;
}
h4 small{
  color: rgba(235, 235, 235, 0.75);
}
#background_image{
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: -1;
}
.item{
  color: white;
}
.control-label{
  color: white;
}

//-------------------------Modal---------------------------
.modal-body form{
  color: white;
}