//template colors
$main_background_color: #ededed;
$main_letter_color: rgba(36, 36, 36, 0.90);
$secondary_background_color: #e5e5e5;
$secondary_letter_color: white;
$highlight_letter_color: #000000;

$text_input_bg_color: white;

$primary_color: rgba(94, 40, 130, 0.90);


//background
$background_color: $main_background_color;

$main_font: Copperplate, "Copperplate Gothic Light", fantasy;
$highlight_font: "Brush Script MT", cursive;

//footer
$footer-color: $main_background_color;

#footer_row{
  background-color: $main_letter_color;
  color: $main_background_color;
  padding-bottom: 50px;
  z-index: -2;
}
#footer_row h3{
  color: $main_background_color;
}
address{
  color: $main_background_color;
}

//buttons
$btn-primary-bg: $primary_color;

$close-color: rgba(255, 0, 22, 1.0);
$close-font-weight: 800;

//navbar
//$navbar-inverse-bg: rgba(36, 36, 36, 0.95);
$navbar-inverse-bg: $main_letter_color;
$navbar-inverse-color: $main_background_color;
$navbar-inverse-brand-color: $main_background_color;


//modal
$modal-content-bg: $secondary_background_color;

$input-bg: $text_input_bg_color;
$input-border-focus: $primary_color;
$well-bg: $text_input_bg_color;
.well{
  color: $main_letter_color;
}
.well h3{
  color: $main_letter_color;
}

@import "bootstrap";
/*
 *= require_self
 *= require_tree .
 */
.menu{
  margin-top: 30px;
}

.section{
  margin-top: 40px;
}
//Menu
#order_button{
  padding-top: 8px;
}
.row.item{
  border-bottom: solid 1px $secondary_background_color;
}
#order_item_added_notification{
  font-size: 40px;
  color: $main_letter_color;
}
//================== Japanese Letters ============================================

body{
  background-color: $background_color;
}
h1{
  color: $main_letter_color;
  font-family: $main_font;
  font-size: 64px;
}
h1 small{
  color: $main_letter_color;
}
h2{
  color: $main_letter_color;
  font-family: $main_font;
  font-size: 48px;
}
h2 small{
  color: $main_letter_color;
}
h3{
  color: $main_letter_color;
  font-size: 30px;
}
h4{
  font-size: 28px;
  color: $main_letter_color;
  font-family: $main_font;
}
h4 small{
  color: $main_letter_color;
}
#background_image{
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: -1;
}
.item{
  color: $main_letter_color;
}
.control-label{
  color: $main_letter_color;
}
small{
  color: $main_letter_color
}

#order_item_added_notification{
  font-family: $highlight_font; 
  color: $main_background_color;
}

//----------------------links----------------------------
h4 a:link{
  color: $highlight_letter_color;
}
h4 a:visited{
  color: $highlight_letter_color;
}
h2 a:link{
  color: $highlight_letter_color;
}
h2 a:visited{
  color: $highlight_letter_color;
}
//-------------------------Modal---------------------------
.modal-body form{
  color: $main_letter_color;
}
//----------------------Carousel-------------------------
#express_carousel{
  width: 480px;
  height: 480px;
}
//-------------------FB comment plugin----------------------
.fb-comments{
  margin-top: 20px;
}

